<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_profile">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="effectivem" />
                <data android:host="hotels" />
            </intent-filter>
        </activity>
    </application>

</manifest>